PathPicker {
    align: center middle;
}

PathPicker #dialog {
    width: 60;
    height: 32;
    padding: 2;
    background: gray;
}

PathPicker #question {
    width: 100%;
    text-align: center;
    text-style: bold;
    margin-bottom: 1;
}

PathPicker #buttons {
    layout: horizontal;
    width: 100%;
    align-horizontal: center;
    margin-top: 1;
}

PathPicker #buttons Button {
    margin: 0 2;
}