h1,h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

body {
    font-family:system-ui,Segoe UI,Roboto,Arial,sans-serif;
    max-width:900px;
    margin:2rem auto;
    padding:0 1rem;
}

.search_bar {
    text-align:center;
}

input {
    border-radius: 8px;
    border: 2px solid #D3D3D3;
}

table {
    text-align: center;
    border-collapse: separate; /* important */
    border-spacing: 20px 10px;
    border: 2px solid #D3D3D3;
    border-radius: 20px;
    margin: 2rem auto;
    width: auto;
}

.paginator {
    text-align: center;
    justify-items: center;
}

a.btn {
    display: inline-flex;
    background: transparent;
    color: inherit;
    border: 1px solid transparent;
    gap: 0.5em;
    padding: 0.7em;
    border-radius: 99px;
    text-decoration: none;
    border: 1px solid transparent;
    line-height: 1.2;
    transition: background-color .25s ease, color .25s ease, transform .2s ease, border-color .25s ease;
}

a.btn-primary {
    color: white;
    background-color: black;
    margin: 2rem auto;
}

.btn-primary:hover {
  background: gray;
  transform: translateY(-2px);
}

.btn-contain {
    text-align: center;
}