h1,h2 {
    text-align: center;
}

.search_bar {
    text-align:center;
}

input {
    border-radius: 8px;
    border: 2px solid #D3D3D3;
}

table {
    text-align: center;
    border-collapse: separate; /* important */
    border-spacing: 20px 10px;
    border: 2px solid #D3D3D3;
    border-radius: 20px;
    margin: 2rem auto;
    width: auto;
}

body {
    font-family:system-ui,Segoe UI,Roboto,Arial,sans-serif;
    max-width:900px;
    margin:2rem auto;
    padding:0 1rem;
}