{% extends "base.html" %}

{% block title %}Dashboard · Stryder Web{% endblock %}

{% block content %}
<h2>{{  dt|date:"Y-m-d H:i" }} - {{ wt_name }}</h2>
  <table>
    <thead>
      <tr>
        <th>Duration<br></th>
        <th>Distance<br></th>
        <th>Avg Power<br></th>
        <th>Avg Ground Time</th>
        <th>Avg LSS</th>
        <th>Avg Cadence<br></th>
        <th>Avg Vertical Osc</th>
      </tr>
    </thead>
    <tbody>
      {% if summary %}
        <tr>
          <td>{{ summary.duration_hms }}</td>
          <td>{{ summary.distance_km }}</td>
          <td>{{ summary.avg_power }}</td>
          <td>{{ summary.avg_ground_time }}</td>
          <td>{{ summary.avg_lss }}</td>
          <td>{{ summary.avg_cadence }}</td>
          <td>{{ summary.avg_vo }}</td>
        </tr>
      {% else %}
        <tr>No run found for ID {{ run_id }}.</tr>
      {% endif %}
    </tbody>
  </table>
  <div class="btn-contain">
    <a href="/" class="btn btn-primary">← Back to runs list</a>
  </div>

{% endblock %}