{% extends "base.html" %}

{% block title %}Dashboard · Stryder Web{% endblock %}

{% block content %}
<h2>{{  dt|date:"Y-m-d H:i" }} - {{ wt_name }}</h2>
<div>
  <table>
    <thead>
      <tr>
        <th>Duration<br></th>
        <th>Distance<br></th>
        <th>Avg Power<br></th>
        <th>Avg Ground Time</th>
        <th>Avg LSS</th>
        <th>Avg Cadence<br></th>
        <th>Avg Vertical Osc</th>
      </tr>
    </thead>
    <tbody>
      {% if summary %}
        <tr>
          <td>{{ summary.duration_hms }}</td>
          <td>{{ summary.distance_km }}</td>
          <td>{{ summary.avg_power }}</td>
          <td>{{ summary.avg_ground_time }}</td>
          <td>{{ summary.avg_lss }}</td>
          <td>{{ summary.avg_cadence }}</td>
          <td>{{ summary.avg_vo }}</td>
        </tr>
      {% else %}
        <tr>No run found for ID {{ run_id }}.</tr>
      {% endif %}
    </tbody>
  </table>
</div>

<div class="single-main">
  <form method="get" class="axis-form">
    <!-- Y axis radios -->
    <div class="y-radio-wrapper">Y-Axis
      {% for opt in y_axis_options %}
        <label>
          <input type="radio" name="y" value="{{ opt.key }}"
            {% if opt.key == current_y %}checked{% endif %}
            onchange="this.form.submit()">
          {{ opt.label }}
        </label>
      {% endfor %}
    </div>
    <!-- X axis radios -->
    <div class="x-radio-wrapper">X-Axis
      {% for opt in x_axis_options %}
        <label>
          <input type="radio" name="x" value="{{ opt.key }}"
            {% if opt.key == current_x %}checked{% endif %}
            onchange="this.form.submit()">
          {{ opt.label }}
        </label>
      {% endfor %}
    </div>
  </form>

  <div class="graph_wrapper">
    <h3>{{ graph_title }}</h3>
    <img src="{% url 'run_plot' run_id=run_id %}?y={{ current_y }}&x={{ current_x }}" alt="Run plot">
  </div>
</div>

<div class="btn-wrapper">
  <a href="/" class="btn btn-primary">← Back to runs list</a>
</div>

{% endblock %}